@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Bengali:wght@100..900&family=Tiro+Bangla:ital@0;1&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.vue';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --font-noto: 'Noto Sans Bengali', sans-serif;
    --font-trio: 'Tiro Bangla', serif;
}

body {
    @apply bg-gray-100 font-trio
}

.activeTab{
    @apply  text-green-700
    border-r
    border-green-700
    py-2;
}

.activeRoute{
    @apply
     before:content-['']
     before:absolute
     before:w-full
     before:h-1
     md:before:bg-white
     before:bg-green-700
     before:-bottom-1
     before:left-0
     before:rounded-t-2xl
}
